.viewer {
  display: inline-block;
}

.zoomable {
  --transition-time: 0.1s;

  transform-origin: top left;
  transition: transform var(--transition-time, 0.1s) ease-in-out;
}

.zoomable.canZoomOut {
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  cursor: zoom-out;
}

.zoomable.canZoomIn {
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  cursor: zoom-in;
}

.zoomable.canZoomOut.canZoomIn {
  /* @TODO */
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  cursor: url();
}
